VITE_CONTRACT_ADDRESS=your_contract_address_here
VITE_TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
VITE_TOKEN_SYMBOL=USDT
VITE_TOKEN_DECIMALS=18
VITE_REWARD_AMOUNT=5000
VITE_BONUS_AMOUNT=500
VITE_BONUS_SYMBOL=BUSD
VITE_CHAIN_ID=56
VITE_RPC_URL=https://bsc-dataseed.binance.org/